.container {
    max-width: 40rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: start;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }


  