html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 300;
  color: #121212;
  font-family: 'Roboto Mono', monospace;

}

* {
  box-sizing: border-box;
  padding: 2px;
}

a {
  color: #121212;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
  color: #083FA9;
}

img {
  max-width: 100%;
  display: block;
}

