.heading2Xl {
    font-size: 5rem;
    line-height: 1.2;
    text-shadow: #0013BF 1px 0 40px;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    font-family:'Inter', sans-serif;
    margin-bottom: 50px;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    font-family:'Inter', sans-serif;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    font-family:'Inter', sans-serif;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family:'Inter', sans-serif;
    font-weight: 300;
  }
  
  .headingSm {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    font-family:'Inter', sans-serif;
  }

  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .border {
    box-shadow: 0 1px 15px -6px rgb(39, 44, 200);
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
  }

 